<div class = "container-fluid  recent-activity">
  <div class="compliance-title">
    <h6>Recent Activity</h6>
    <hr>
  </div>
  <div class = "col-lg">
    <div class="row">
      <div class="col-lg-6 details">Upgrade System</div>
      <div class="col-lg-6 text-right details">15 mins remaiding</div>
    </div>
    <div class="progress-static">
        <div class="progress-meter" data-value="20" maxlength="1"></div>
    </div>
    <div class="row">
      <div class="col-lg-6 details">show the current steps</div>
      <div class="col-lg-6 text-right details">view the details</div>
    </div>
  </div>
  <div class = "col-lg">
    <div class="row">
      <div class="col-lg-8 details log">
        logs send and support tickets create 123456 For fan failure on server ABCD
      </div>
      <div class="col-lg-4 text-right">
        <clr-icon shape="check"></clr-icon>
      </div>
    </div>
  </div>
</div>
