<div xmlns="http://www.w3.org/1999/html">
<h5>System Capacity</h5>
<div class = container-fluid >
  <div class="row toolbar">
    <div class="col-lg-2 process-title">
      <div class = 'row free-HD-processTitle'>
        <div class="free-HD">
          <clr-icon shape="network-globe" size="24"></clr-icon></div>
        <div class ="free-HD percent-label">52%</div>
        <div class ="free-HD">Networking</div>
      </div>
      <div class="progress-static">
        <div class="progress-meter" data-value="62" maxlength="10"></div>
      </div>
    </div>
    <div class="col-lg-2 process-title">
      <div class = 'row free-HD-processTitle'>
        <div class="free-HD">
          <clr-icon shape="cpu" size="24"></clr-icon></div>
        <div class ="free-HD percent-label">58%</div>
        <div class ="free-HD">Free CPU</div>
      </div>
      <div class="progress-static">
        <div class="progress-meter" data-value="62" maxlength="10"></div>
      </div>
    </div>
    <div class="col-lg-2 process-title">
      <div class = 'row free-HD-processTitle'>
      <div class="free-HD">
        <clr-icon shape="storage" size="24"></clr-icon></div>
      <div class ="free-HD percent-label">63%</div>
      <div class ="free-HD">Free HD</div>
      </div>
      <div class="progress-static">
        <div class="progress-meter" data-value="62" maxlength="10"></div>
      </div>
      <div class="progress-title-below">48TB remainding of 100TB</div>
    </div>
    <div class="col-lg-1 vline">
      <div class="vl"></div>
    </div>
    <div class="col-lg-1">
      <div class="server-title">24</div>
      <div class="server">server</div>
    </div>
    <div class="col-lg-1">
      <div class="server-title">31</div>
      <div class="server">clusters</div>
    </div>
    <div class="col-lg-1">
      <div class="storage-title">3</div>
      <div class="storage-domain">storage domain</div>
  </div>
</div>
</div>
</div>
