h5{
    color: black;
    font-weight:600;
    background-color: white;
}

div{
  background-color: white;
  color: black;
}

.col-md-2{
  margin-left: 80px;
  margin-bottom: 50px;
  text-align: left;
}

div.progress-static{
  margin-left: 10px;
  height: 8px;
  width: 120px;
  float:left;

}
