div.container-fluid.system-health {
  background-color: white;
  height: 300px;
  margin-bottom: 30px;
}

div.compliance-title{
  padding-right: 12px;

}
div.content-container{
  margin-left: 1px;
  background-color: #fafafa;
}
div.row.compliance-charts{
  background-color: #fafafa;
  margin: 5px;
  width: 300px;
}

h6{
  margin-top: 1px;
}
.col-lg-4{
}
.detail{
  font-size: 7px;
}

hr{
  margin-bottom:5px;
}
