div.content-container{
  background-color: white;
  width: 50%;
  margin-bottom: 10px;
  margin-left: 20px;
  border-bottom-color: darkgray;
  border-bottom-width: 20px;


}

div.header-7{
  font-size: smaller;
  color: black;
  font-weight: 600;

}
